name: Build & Test

on:
  pull_request:
    branches:
    - master
    paths-ignore:
    - 'docs/**' # Don't run workflow when files are only in the /docs directory

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: .NET Build
      run: dotnet build Build.csproj -c Release --nologo /p:CI=true
    - name: .NET Test
      run: dotnet test Build.csproj -c Release --no-build --nologo /p:CI=true
  build-windows:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: .NET Build
      run: dotnet build Build.csproj -c Release --nologo /p:CI=true
    - name: .NET Test
      run: dotnet test Build.csproj -c Release --no-build --nologo /p:CI=true